body {
    background-color: var(---color1);

    padding: 0rem;
    margin: 0rem;
    box-sizing: border-box;
}

:root {
    ---color1: white;
    ---color2: blue;
    ---color3: rgb(13, 13, 208);
    ---color4: rgb(8, 6, 123);
}